<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.WriterDao">

    <insert id="addWriter" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO writer
        (writer_id, writer_name) VALUES
            (#{writerId}, #{writerName})
    </insert>

    <select id="countWriter" resultType="Integer">
        SELECT count(0)
        FROM writer w
        WHERE w.delete_status = '1'
    </select>

    <select id="listWriter" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        w.writer_id writerId,
        w.writer_name writerName,
          date_format(w.create_time, '%Y-%m-%d') createTime
        FROM writer w
        WHERE w.delete_status = '1'
              ORDER BY w.id DESC
        LIMIT #{offSet}, #{pageRow}
    </select>

    <update id="updateWriter" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE writer
           SET
            writer_name = #{writerName}
        WHERE writer.writer_id = #{writerId}
    </update>

    <select id="getWriterById" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        w.writer_id writerId,
        w.writer_name writerName,
        date_format(w.create_time, '%Y-%m-%d') createTime
        FROM writer w
        WHERE w.delete_status = '1' AND  w.writer_id = #{writerId}
    </select>
</mapper>